appdirs==1.4.4
asgiref==3.6.0
attrs==21.4.0
backcall==0.2.0
bar==0.2.1
beautifulsoup4==4.12.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cssselect==1.2.0
customtkinter==4.5.10
cycler==0.11.0
darkdetect==0.7.1
dateparser==1.1.8
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Django==4.1.7
entrypoints==0.4
executing==0.8.3
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.10.7
fonttools==4.31.2
GoogleNews==1.6.7
idna==3.4
ipython-genutils==0.2.0
jieba3k==0.35.1
joblib==1.2.0
jupyterlab-widgets==1.1.0
keras==2.12.0
lxml==4.9.2
MarkupSafe==2.1.1
mistune==0.8.4
nest-asyncio==1.5.4
newspaper3k==0.2.8
nltk==3.8.1

